.DS_Store
.persistent-scratch
/eshell/
/.org-id-locations
/ac-comphist.dat
/auto-save-list
/bookmarks
/custom.el
/elpa/*
/history
/image-dired/
/oauth2.plstore
/places
/projectile*
/recentf
/session.*
/tramp
/url/
/var/
*.elc
*~
/init.el.backup
/lisp/org-devonthink.el
/lisp/ox-confluence.el
el-get/
/myinit.el
/network-security.data
/myinit.html
